body {
    background-image: url(img/sinema-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.seat {
    background-color: #444451;
    height: 15px;
    width: 15px;
    margin: 3px;
    border-radius: 5px;
}

.seat.selected {
    background-color: #f6eb6f;
}

.seat.reserved {
    background-color: #fff;
}

.seat:not(.reserved):hover {
    cursor: pointer;
    transform: scale(1.3);
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(3) {
    margin-right: 20px;
}

.row {
    display: flex;
}


.movie-list {
    margin: 20px 0;
}

.info {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    color: #777;
    display: flex;
}

.info li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

p.text span {
    color: #f6eb6f;
    font-size: xx-large;
}
.container-resim {
    width: 80%;
    margin:0 auto;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    color: white;
   text-shadow: 3px 3px 4px red;
    text-align: center;
}

p{
    color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.box {
    width: 150px;
    height: 150px;
    background: gray;
    margin: 0px 14px;
    transition: 0.5s;
}

.box img {border-radius: 6px;}

.box:hover {
    transform: scale(1.2);
    background: black;
    z-index: 2;
}


#sayfa{
    width: 500px;
    margin:auto;
    padding:20px;
  }
  label{
    display:block;
    margin-top:5px;
  }
  input{
    width: 200px;
    height: 25px;
    font-size:1.2em;
  }
  button{
    border:none;
    display:block;
    margin-top:5px;
    width: 204px;
    height: 50px;
    text-align: center;
    font-size:1.2em;
  }
  table{
    background: orange;
    margin:5px;
    width: 100%;
    color:#fff;
  }
  td,th{
    border:1px solid white;
    border-spacing: 0px;
    margin: 0px;
  }